@model StudentSystem.Web.Models.TeacherAssignerViewModel
    ViewBag.Title = "Бележник";
}
<body>
    <h1 class="title">
        Клас: 

    @Html.DropDownList( "EnumerableTeacherClasses");


</h1>

    <h2 class="title">
        Предмет:
    </h2>

</body>

