    <link rel="stylesheet" href="~/Misc/HelpButton/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Misc/HelpButton/css/style.css"> <!-- Stila -->
    <script src="~/Misc/HelpButton/js/modernizr.js"></script>

<body>
    <!-- Help Button panela-->
    <div class="cd-panel from-right" style="position: relative; z-index:9999"> <!--Za da sum napulno siguren che vinagi shte e otgore-->
        <header class="cd-panel-header"></header>
        <div class="cd-panel-container">
            <div class="cd-panel-content"> <!-- Osnovnoto sydyrjanie -->
                <h1>Как се влиза във вашия бележник:<br><br>1. Избирате бутона "Бележник" от менюто за навигация.<br>2.&nbsp;<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>&nbsp;&nbsp;<br><button class="btn btn-sm cd-panel-close pull-left" contenteditable="false"></button>
                </h1>

                <h1>
                     
                </h1>


            </div> 
        </div>
    </div>
    <script src="~/Misc/HelpButton/js/jquery-2.1.1.js"></script>
    <script src="~/Misc/HelpButton/js/main.js"></script> 
</body>
